{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page %}
    {% if request.user.is_authenticated %}
        <a calss="btn btn-danger" href="{% url 'logout' %}" >
            Выход
        </a>
    {% else %}
        <div class="btn-group">
            <a class="btn btn-info" href="{% url 'login' %}">
                Войти
            </a>
            <a class="btn btn-info" href="{% url 'registration' %}" >
                Зарегистрироваться
            </a> 
         </div>
    {% endif %}
{% endblock %}