{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page %}
    <div class= "col-lg-6 col-md-5"><br>
        {% if request.user.is_authenticated %}
            <h3>инф о {{ request.user.username }}</h3>
            <ul>
                <li>Логин: {{ request.user.username }}</li>
                <li>ФИО: {{ request.user.get_full_name }}</li>
                <li>email: {{ request.user.email }}</li>
                <li>{{ request.user. }}</li>
            </ul>
            
            <a class="btn btn-danger" href="{% url 'logout' %}" >
                Выход
            </a>
        {% else %}
            <div class="btn-group">
                <a class="btn btn-info" href="{% url 'login' %}">
                    Войти
                </a>
                <a class="btn btn-info" href="{% url 'registration' %}" >
                    Зарегистрироваться
                </a> 
            </div>
        {% endif %}
    </div>
{% endblock %}