{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}   
    <h1>Все игры:</h1>
        {% for product in products %}
            {% if product.iamge %}
                <a href="{% 'product' product.id %}">
                    <img src="{{ product.iamge.url }}">
                </a>
            {% endif %}
                <a href="{% 'product' product.id %}">
                    {{ product.title }}
                </a>
            {{ product.price|floatforma:"0" }}$
        {% endfor %}
{% endblock %}