{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Shop</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container-fluid">
          <br>
        {% if message %}
          <h3 class="alert alert-success">{{ message }}</h3>
        {% else %}
          <h3>GAMESON</h3>
          <h6>Магазин цифровых товаров</h6>
        {% endif %}
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sellers' %}">Админы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SaBBaT</a> 
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{% url 'products' %}">
          {% csrf_token %}
           <input class="form-control mr-sm-2" type="text" title="query">
           <button class="btn btn-success mr-sm-2">Поиск</button>
        </form>
          {% if user.is_authenticated %}
            <a class="btn btn-info" href="{% url 'personaloffice' request.user.pk %}">
              Личный кабинет
            </a>
          {% else %}
            <a class="btn btn-info my-1 mr-sm-2" href="{% url 'login' %}">
              Войти
            </a>          
            <a class="btn btn-info" href="{% url 'registration' %}">
              Зарегистрироваться
            </a>              
          {% endif %}
    </nav>
      <div class="container-fluid pt-3">
        <div class="row"> 
          {% block page %}
          <div class="col-lg-3 col-md-2 ">
            <div class="list-group">
              {% for category in categories %}
                <a 
                  class="list-group-item
                    {% if category.id == category_pk %}
                      list-group-item-warning
                    {% endif %}
                  " 
                  href="{% url 'category' category.id %}">
                  {{ category.title }}
                </a>
              {% endfor %}
            </div>
          </div>
          <div class= "col-lg-6 col-md-5"><br>
            {% block content %}

            {% endblock %}
          </div>
          <div class="col-lg-3 col-md-2">
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
            специальное предложение и скидки и тд..<br>
          </div>
          {% endblock %}
        </div>
      </div>
      <!-- <foter class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            ruff 3/4b<br>
            uss 3/112<br>
            select str.jocubs 34<br>
            sector clear 33<br>
            feedback op 4/4<br>
            egle hell eee<br>
            gg wp boys<br>
            glhf terran<br>
            +9967777777777<br>
          </div>
          <div class="class col-lg-3">
            <span class="lead"></span>
          </div>
        </div>
      </foter> -->
</body>
</html>